body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    color: #333; 
}
.recipe-container {
    border: 2px solid #af8c4c; 
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    background-color: #f9f9f9;
}
h1 {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    color: #af8c4c;
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 1.8em;
    color: #FF5722;
    margin-top: 20px;
    margin-bottom: 10px;
}
ul, ol {
    margin-left: 20px;
    padding-left: 20px;
}
li {
    font-family: 'Courier New', monospace;
    font-size: 1.2em;
    margin-bottom: 10px;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    margin-bottom: 20px;
}
strong {
    font-weight: bold;
    color: #000;
}
em {
    font-style: italic;
    color: #555;
}
header, footer {
    background-color: #af8c4c; 
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}
img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}

.highlight {
    background-color: #FFFF99;
}
#special-note {
    font-size: 1.2em;
    color: #f0f0f0;
    font-weight: bold;
}

.recipe-container p a {
    color: #FF5722; 
    text-decoration: none;
}
.recipe-container p a:hover {
    color: #4CAF50; 
    text-decoration: underline;
}
